body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010101;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.centar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.card {
  float: left;
  border: #010101;
  background-color: #010101;
}
.modal-header .close {
  background-color: white
}
p {
  color: wheat;
}
a {
  background-color: #010101;
}
.card-p {
  color: #010101;
}
#planets {
  margin: 0 auto;
  width: 100%;

}
.btn {
  background-color: #010101;
  border: #010101;
  color: #006fe8;
}
.card {
  text-align: center;
  width: 98%;
  color: wheat;
}
.modal-title {
  color: #010101;
}
.list-group {
  color: #010101;
}
#star-wars a  {
  color: wheat;
  text-decoration-line: underline;
  
}
#movies, .card {
  padding: 5px;
}
#movie p {
  text-align: left;
}